# ***Python-Data-Structure***

1) What are data structures and why are they important ?
 - data structures are specialized formats for organizing, storing and acessing  collections
of data. They provide efficient ways to manage information based on it’s characteristics
and intended use. They are important because -

               a) Choosing the right data structure significantly impacts the efficeincy and performanc of the program.
               b) Well- chosen data structures can.
               c) Simplify data manipulation ( adding, removing, modifying elements).
               d) Optimize searching and sorting operations.
               e) Conserve memory usage.

2) Explain the difference between mutable and immutable data types with examples.
  - Mutable objects can be modified after they are created. Examples : list, dictionary,set.
  -Immutable objects cannot be modified after they are created. Examples : String, tuple.

3) What are the main differences between lists and tuples in python ?
  - Lists are mutable and enclosed by “[ ]” whereas tuples are immutable and enclosed by “( )” .

4) Describe how dictionaries store data.
  - Dictionaries in python store data in the form of key-value pair

5) Why might you use a set instead of a list in python ?
  - We might use a set instead of a list in python as set does not allow duplication of elements.

6) What is a string in python and how is it different from a list ?
  -   String in python is a sequence of character to represent and manipulated textual data.
  It is different from a list as string is immutable and not enclosed by square brackets

7) How do tuples ensure data integrity in python?
  -   As tuples are immutable, so this characteristic of it ensures data integrity in python.

8)  What is a hash table and how does it relate to dictionaries in python ?
  - A hash table is a data structure that maps keys to values using a hash function to compute an index into an array of buckets or slots. It relates to dictionaries in python as dictionaries are implemented using hash tables.

9) Can lists contain different data types in python?
  - Yes, list can contain different data types in python.

10)  Explain why strings are immutable in python?
  - Strings are immutable in python as after their creation , they cannot be changed. Immutablity helps with performance optimatization, memory efficiency and thread safety.

11) What advantages do dictionaries offer over lists for certain tasks ?
  - The advantages do dictionaries offer over lists for certain tasks as dictionaries store data in the form of key-value pair and also dictionaries are more readable and descriptive.

12) Describe a scenario where using a tuple would be prefferable over a list.
  - A tuple would be prefferable over a list as tuple is immutable , so it can be used when the data is constant and should not be accidently modified.

13) How do sets handle duplicate values in python ?
  - Sets in python handle duplicate values by automatically eliminate duplicate values as all elements in it must be unique.

14) How does the “in” keyword work differently for lists and dictionaries ?
  - The “in” keyword for list checks if a value exits in the lists whereas “in” checks if a key exits in dictionary (not the value ).

15) Can you modify the elements of a tuple ? Explain why or why not.
  - Elements of a tuple cannot be modify as tuple is immutable as once they are created , cannot be changed.

16) What is nested dictionary and an example of its use cases ?
  - Nested dictionary means dictionary inside a dictionary. Example of it’s use case- pupil=
{“user1”:{“name”:“A”,“age”:20},“user2”:{“name”:“B”,“age”:24}}

17) Describe the time complexity of accessing elements in the dictionary.
  - The time complexity of accessing elements in the dictionary is , on average,O(1)

18) In what situations are lists preffered over dictionaries ?
  - When data naturally fits a sequence ,where order and positional access are important and duplicates are acceptable, in this list is the preffered over dictionary.

19) Why are dictionaries considered unordered and how does that affect data retrieval ?
  - Dictionaries are considered unordered because items do not have a defined order, cannot refer to an item by using an index. We cannot retrieve the items by using integer indices like my_dict[0] , then we must know the exact key to retrive it’s associated value. Data retrieval is inherently driven by the key.

20) Explain the difference between a list and a dictionary in terms of data retrieval.
  - A list is an ordered collection of elements,where elements are accessed by using their index(position) and here time complexity is O(1) (constant time). A dictionary is an unordered collection of key-value pairs , where items are accessed using a unique key(not position) and here time complexity is on average is O(1).

In [ ]:
## 1. Write a code to create a string with your name and print it.
my_name = "Ankush"
print(my_name)

Ankush

In [ ]:
## 2. Write a code to find the length of string " Hello World"
a =  "Hello World"
len(a)

11

In [ ]:
## 3. Write a code to slice the first 3 characters from the string "Python Programming".

a = "pytho programming"
a[ :3]

'pyt'

In [ ]:
## 4. Write a code to convert the string "hello" to uppercase.
a = "hello"
a.upper()

'HELLO'

In [ ]:
## 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
b = " I like apple"
b.replace("apple","orange")

' I like orange'

In [ ]:
## 6. Write a code to create a list with numbers 1 to 5 and print it.
my_list = [1,2,3,4,5]
print(my_list)

[1, 2, 3, 4, 5]

In [ ]:
## 7. Write a code to append the number 10 to the list [1, 2, 3, 4].
my_list = [ 1 , 2, 3 , 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [ ]:
## 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [ ]:
## 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
the_list = ['a', 'b', 'c', 'd']
the_list[1]

'b'

In [ ]:
## 10. Write a code to reverse the list [10, 20, 30, 40, 50].
lis = [10, 20, 30, 40, 50]
lis.reverse()
print(lis)

## OR

# print(lis[::-1])

[50, 40, 30, 20, 10]

In [ ]:
## 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
my_tuple = (100,200,300)
print(my_tuple)

(100, 200, 300)

In [ ]:
## 12.  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
c = ('red', 'green', 'blue', 'yellow')
c[1:]

('green', 'blue', 'yellow')

In [ ]:
## 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
a = (10, 20, 5, 15)
min(a)

5

In [ ]:
## 14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animals = ('dog', 'cat', 'rabbit')
animals.index("cat")

1

In [ ]:
## 15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
a = ("apple", "kiwi", "orange")
b = ("apple", "mango","orange")
print("kiwi in a:",("kiwi" in a))
print("kiwi in b:",("kiwi" in b))

kiwi in a: True
kiwi in b: False

In [ ]:
## 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
a = {"a", "b", "c"}
print(a)
print(type(a))

{'c', 'a', 'b'}
<class 'set'>

In [ ]:
## 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
my_set = {1, 2, 3, 4, 5}
print("my_set before clear:", (my_set))
my_set.clear()
print("my_set after clear:",(my_set))

my_set before clear: {1, 2, 3, 4, 5}
my_set after clear: set()

In [ ]:
## 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
p = {1, 2, 3, 4}
p.remove(4)
print(p)

{1, 2, 3}

In [ ]:
## 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
a = {1, 2, 3}
b = {3, 4, 5}
a.union(b)

{1, 2, 3, 4, 5}

In [ ]:
## 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
a = {1, 2, 3}
b = {2, 3, 4}
a.intersection(b)

# or
# a & b

{2, 3}

In [ ]:
## 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
my_dict = { "name" : "Ankush", "age": 25, "city": "Kolkata"}
print(my_dict)

{'name': 'Ankush', 'age': 25, 'city': 'Kolkata'}

In [ ]:
## 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
my_dict = {'name': 'John', 'age': 25}
my_dict["country"] = "USA"
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
## 23.  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice' , 'age': 30}.
my_dict = {'name': 'Alice' , 'age': 30}
my_dict['name']

'Alice'

In [ ]:
## 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict['age']
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
## 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
my_dict = {'name': 'Alice', 'city': 'Paris'}
print("city" in my_dict)

True

In [ ]:
## 26. Write a code to create a list, a tuple, and a dictionary, and print them all.
a = [1,2,3,4]
b = ('ab','cd','ef','gh')
c = {'course':'DA','duration':'1 year'}
print("list:",(a))
print("tuple:",(b))
print("cdictionary:",(c))

list: [1, 2, 3, 4]
tuple: ('ab', 'cd', 'ef', 'gh')
cdictionary: {'course': 'DA', 'duration': '1 year'}

In [ ]:
## 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result
i = [43,11,99,55,3]
print(sorted(i))

[3, 11, 43, 55, 99]

In [ ]:
## 28.  Write a code to create a list with strings and print the element at the third index.
a = ["kolkata", "delhi", "mumbai", "goa", "bangalor"]
a[3]

'goa'

In [ ]:
## 29. Write a code to combine two dictionaries into one and print the result.
a_dict = {"my_name": "Ankush", "my_age": 25}
b_dict = {"city": "kolkata", "course": "DA"}
a_dict.update(b_dict)
print("Combined dictionary:",(a_dict))

Combined dictionary: {'my_name': 'Ankush', 'my_age': 25, 'city': 'kolkata', 'course': 'DA'}

In [ ]:
## 30.  Write a code to convert a list of strings into a set.
bag = ['potato', 'brinjal', 'tomato', 'pumpkin', 'brinjal']
bag1 = set(bag)
print(bag1)

{'brinjal', 'pumpkin', 'tomato', 'potato'}